[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blockchain = {path = "."}
requests = "*"
flask = "*"
pycryptodome = "*"

[dev-packages]
jedi = "*"

[requires]
python_version = "3.9"
